# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyCharm files
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
/generate_tree.py
/.env
/project_structure.txt
/data
